@charset "ISO-8859-1";
* {
	color: white;
}

#enter_page_body {
	background-image: url("plane2.jpg");
}

nav {
	background-color: black;
	height: 80px;
}

#home_link {
	position: absolute;
	right: 1325px;
}

#all_flights_link {
	position: absolute;
	right: 1200px;
}

#myFlights_link {
	position: absolute;
	right: 1075px;
}

#welcome_tag {
	position: absolute;
	right: 25px;
}

#logout_link {
	position: absolute;
	left: 1460px;
	top: 45px;
}

#welcome_header {
	position: absolute;
	left: 30px;
	bottom: 385px;
	font-size: 70px;
}
	
#create_flights_link {
	position: absolute;
	left: 500px;
}

#home_link:hover {
	color: black;
}

#new_flight_page_body {
	background-image: url("/images/plane2.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: white;
}

#login_register_body {
	background-image: url("/images/plane2.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: white;
}

#all_flights_body {
	background-image: url("/images/plane2.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: white;
}

#my_flights_body {
	background-image: url("/images/plane2.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: white;
}

#login_reg_footer {
	height: 50px;
	margin-top:40px;
	position: absolute;
	bottom: 0;
	left: 500px;
}

#checkout_body {
	background-image: url("/images/plane2.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: white;
}

#new_card_page_body {
	background-image: url("/images/plane2.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: white;
}

#home_container {
	background-image: url("/images/plane2.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: white;
}

#confirm_page_body {
	background-image: url("/images/plane2.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: white;
}

#register_container {
	background: rgba(0, 0, 0, 0.3);
	
}

#login_container {
	background: rgba(0, 0, 0, 0.3);
}

#all_flights_container {
	background: rgba(0, 0, 0, 0.3);
	
}

#new_flight_container {
	background: rgba(0, 0, 0, 0.3);
}

#card_info_container {
	background: rgba(0, 0, 0, 0.3);
}

#checkout_container {
	background: rgba(0, 0, 0, 0.3);
}

#confirm_tag {
	position: absolute;
	bottom: 500px;
	left: 50px;
	font-size: 60px;
}

#all_flights_table {
	color: white;
}

.plane_logo {
	height: 65px;
	width: 65px;
	margin-left: 30px;
}